<main id="main" class="main">
   <!-- Input Audio -->
   <div *ngIf="showInputAudio" class="input-group">
      <div class="input-group-prepend" (click)="showInputAudio = false">
         <span class="input-group-text">
            <i class="bi bi-trash"></i>
         </span>
      </div>
      <input type="text" class="form-control" readonly [value]="audioRecordedTime" *ngIf="recordingStarted">
      <audio *ngIf="!recordingStarted && audioBlobURL" controls style="width: 75%;">
         <source [src]="audioBlobURL" type="audio/webm">
      </audio>
      <div class="input-group-append">
         <button class="btn btn-outline-primary" type="button" (click)="stopRecording()" *ngIf="recordingStarted">
            <i class="bi bi-pause"></i>
         </button>
         <button class="btn btn-outline-primary" type="button" (click)="sendAudio()" *ngIf="!recordingStarted">
            <i class="bi bi-send"></i>
         </button>
      </div>
   </div>
</main>