.my-pagination ::ng-deep .ngx-pagination .current {
  background: #4154f1;
  border-radius: 5px;
}

.my-pagination ::ng-deep .ngx-pagination.active {
  border-radius: 5px;
}

.ngx-pagination {
  padding-left: 0px !important;
}

.ngx-pagination .current,
.btn-info {
  background: #17a2b8 !important;
  border: transparent !important;
  border-radius: 20px !important;
}

.ngx-pagination .current:hover {
  background: #17a2b8 !important;
  border-radius: 20px !important;
  border: transparent !important;
}